html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;


    border: solid 5px black;
    font-size: 50px;
    width: 300px;
}

.container > div {
    display: flex;
}

#display {
    display: flex;
    justify-content: end; /* Aligns content to the right */
    padding: 0 10px; /* Padding inside the display, adjust as needed */
    margin: 2px 2px 10px 2px; /* Margin around the display */

    max-width: 100%; /* Make sure it doesn't exceed the width of its container */
    overflow: hidden; /* Hide overflow content */
    white-space: nowrap; /* Prevents the text from wrapping */
    text-overflow: ellipsis; /* Adds an ellipsis when the text overflows */
}

button {
    border: solid 1px black;
    font-size: 30px;
    padding: 20px;
    cursor: pointer; /* Change cursor to pointer on hover */

    display: flex;
    flex: 1;
}

.row5 #zero {
    flex: 3.28
}

.row1 button {
    padding: 15px;
    background-color: black;
    color: white;
}

#dot, .number {
    background-color: grey;
    color: white;
}

.container .op, #equals {
    background-color: orange;
    color: black;
}